<template>
  <div class="container-fluid p-5">

    <div class="row justify-content-center">
      <div class="col-4">
        <label for="">Tamaño del tablero</label>
        <input type="text" class="form-control" v-model="size">
      </div>
      <div class="col-4">
        <label for="">Probabilidad de agujeros (.2 = 20%)</label>
        <input type="text" class="form-control" v-model="probabilityOfHoles">
      </div>
    </div>

    <div class="row" v-show="noSolution">
      <div class="col">
        <h1>Este sistema no tiene solución</h1>
      </div>
    </div>

    <div class="grid mt-5">

      <div class="row" v-for="(row, rowNumber) in board" :key="rowNumber">
        <div class="cell"
             :class="{
                        'is-danger': dangerousList.includes(column),
                        'is-active': columnNumber === activeColumn && rowNumber === activeRow,
                        'is-origin': column.isOrigin,
                        'is-dest': column.isDest,
                        'is-stench': column.isStench,
                        'is-monster': column.isMonster,
                        'is-hole': column.isHole,
                        'is-air': column.isAir,
                        'is-watched': column.parent != null,
                        'has-visited': column.hasVisited,
                        'last-visited' : column == lastSelected,
                        'best-route' : column.bestRoute == true
                      }"
             v-for="(column, columnNumber) in row"
             :key="columnNumber"
             @click="launchModalToSelect(rowNumber, columnNumber)"
        >
          <div class="row" v-if="column.parent !== null">
            <div class="col-md-12">
              <i class="fa" :class="getParentArrow(column)"></i>
            </div>
          </div>

          <div class="left-badge"
               v-if="column.hasVisited && !dangerousList.includes(column)"
          >
            <span>Visitada</span>
          </div>

          <div class="left-badge"
               v-if="dangerousList.includes(column)"
          >
            <span>Peligrosa</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <button class="btn btn-outline-info"
                @click="nextStep()"
                v-if="!finished"
        >
          Avanzar
        </button>
      </div>
    </div>

    <div class="row mt-2" v-if="finalMessage != ''">
      <div class="col-md-4 offset-4 ">
        <div class="alert alert-info" role="alert">
          {{ finalMessage }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ModalSetOption from './ModalSetOption'

export default {
  components: {
    ModalSetOption
  },

  data () {
    return {
      size: 6,
      probabilityOfHoles: 0.2,
      board: [],
      triggerModalOption: 0,
      activeRow: null,
      activeColumn: null,
      privateList: [],
      publicList: [],
      dangerousList: [],
      originCords: null,
      destCords: null,
      lastSelected: null,
      finished: false,
      noSolution: false,
      finalMessage: ''
    }
  },

  methods: {
    setBoard (size) {
      this.board = new Array(size)

      this.finished = false
      for (let r = 0; r < size; r++) {
        this.board[r] = []
        for (let c = 0; c < size; c++) {
          this.board[r].push({
            value: 0,
            parent: null,
            isOrigin: false,
            isDest: false,
            isMonster: false,
            isHole: false,
            isAir: false,
            isStench: false,
            acumulatedCost: 0,
            hasVisited: false,
            row: r,
            column: c
          })
        }
      }
      this.setItemOnTheBoard('MONSTER')

      // Cicle to create holes with some probability
      const holeProbability = this.probabilityOfHoles
      for (let r = 0; r < size; r++) {
        for (let c = 0; c < size; c++) {
          if (this.getProbability(holeProbability)) {
            this.setItemOnTheBoard('HOLE')
          }
        }
      }

      this.setItemOnTheBoard('GOLD')
      this.setItemOnTheBoard('AGENT')

      this.originCords = {
        row: this.board.length - 1,
        column: 0
      }

      this.activeColumn = 0
      this.activeRow = this.board.length - 1
    },

    getProbability (n) {
      return !!n && Math.random() <= n
    },

    putChildsOnboardArrroundPosition (type, row, col) {
      this.setItemOnTheBoard(type, row + 1, col)
      this.setItemOnTheBoard(type, row - 1, col)
      this.setItemOnTheBoard(type, row, col + 1)
      this.setItemOnTheBoard(type, row, col - 1)
    },

    canPutItemOnPosition (row, col) {
      const properties = ['isMonster', 'isStench', 'isOrigin', 'isDest', 'isHole', 'isAir']
      let propertiesBusy = properties.map((property) => {
        if (this.board[row][col][property]) {
          return true
        }
        if (this.board[(col + 1 < this.board.length) ? col + 1 : col][row][property]) {
          return true
        }
        if (this.board[(col - 1 > 0) ? col - 1 : 0][row][property]) {
          return true
        }
        if (this.board[col][(row + 1 < this.board.length) ? row + 1 : row][property]) {
          return true
        }
        if (this.board[col][(row > 0) ? row - 1 : 0][property]) {
          return true
        }
        return false
      })

      if (propertiesBusy.includes(true)) {
        return false
      }

      return true
    },

    setItemOnTheBoard (type, rowPos = null, colPos = null) {
      if (this.board.length > 0) {
        let col = Number.isInteger(colPos) ? colPos : Math.floor(Math.random() * this.board.length)
        let row = Number.isInteger(rowPos) ? rowPos : Math.floor(Math.random() * this.board.length)

        switch (type) {
          case 'MONSTER':
            if (col === 0 && row === this.board.length - 1) {
              this.setItemOnTheBoard('MONSTER')
              return
            }
            if (!this.canPutItemOnPosition(row, col)) {
              this.setItemOnTheBoard('MONSTER')
              return
            }
            this.board[row][col].isMonster = true
            this.putChildsOnboardArrroundPosition('STENCH', row, col)
            break
          case 'HOLE':
            if (col === 0 && row === this.board.length - 1) {
              return
            }
            this.board[row][col].isHole = true
            this.putChildsOnboardArrroundPosition('AIR', row, col)
            break
          case 'STENCH':
            if (row < this.board.length && row >= 0 && col < this.board.length && col >= 0) {
              this.board[row][col].isStench = true
            }
            break
          case 'AIR':
            if (row < this.board.length && row >= 0 && col < this.board.length && col >= 0) {
              this.board[row][col].isAir = true
            }
            break
          case 'GOLD':
            if ((col === 0 && row === this.board.length - 1) ||
              this.board[row][col].isHole ||
              this.board[row][col].isAir ||
              this.board[row][col].isStench ||
              this.board[row][col].isMonster
            ) {
              this.setItemOnTheBoard('GOLD')
              return
            }
            if (row < this.board.length && row >= 0 && col < this.board.length && col >= 0) {
              this.board[row][col].isDest = true
            }
            break

          case 'AGENT':
            this.board[this.board.length - 1][0].isOrigin = true
            break
          default:
            break
        }
      }
    },

    getParentArrow (entity) {
      if (entity.row === entity.parent.row) {
        if (entity.column < entity.parent.column) {
          return 'fa-arrow-right static'
        } else {
          return 'fa-arrow-left static'
        }
      }
      if (entity.column === entity.parent.column) {
        if (entity.row < entity.parent.row) {
          return 'fa-arrow-down static'
        } else {
          return 'fa-arrow-up static'
        }
      }

      if (entity.column > entity.parent.column && entity.row < entity.parent.row) {
        return 'fa-arrow-down rotate-45'
      }

      if (entity.column < entity.parent.column && entity.row < entity.parent.row) {
        return 'fa-arrow-down rotate-270'
      }

      if (entity.column > entity.parent.column && entity.row > entity.parent.row) {
        return 'fa-arrow-up rotate-45-neg'
      }

      if (entity.column < entity.parent.column && entity.row > entity.parent.row) {
        return 'fa-arrow-up rotate-45'
      }
    },

    setOptionToCell (payload) {
      if (payload.prop !== 'isObstacle') {
        this.deletePropToBoard(payload.prop)
      }
      if (payload.prop === 'isOrigin') {
        this.originCords = {
          row: this.activeRow,
          column: this.activeColumn
        }
      } else if (payload.prop === 'isDest') {
        this.destCords = {
          row: this.activeRow,
          column: this.activeColumn
        }
        this.board[this.activeRow][this.activeColumn].value = 0
      } else if (payload.prop === 'isObstacle') {
        this.board[this.activeRow][this.activeColumn].value = 0
      }

      this.board[this.activeRow][this.activeColumn][payload.prop] = payload.status
      this.activeRow = null
      this.activeColumn = null

      this.setEuristicFunctions()

      this.$forceUpdate()
    },

    deletePropToBoard (prop) {
      for (let r = 0; r < this.board.length; r++) {
        for (let c = 0; c < this.board[r].length; c++) {
          if (this.board[r][c][prop]) {
            this.board[r][c][prop] = false
          }
        }
      }
    },

    setEuristicFunctions () {
      if (this.originCords !== {} && this.destCords !== {}) {
        for (let r = 0; r < this.board.length; r++) {
          for (let c = 0; c < this.board[r].length; c++) {
            if (!this.board[r][c].isDest && !this.board[r][c].isObstacle) {
              this.board[r][c].value = Math.abs(this.destCords.row - r) + Math.abs(this.destCords.column - c)
            }
          }
        }
      }
    },

    getNeighbors (entity) {
      const rowUpperLimit = (entity.row >= this.board.length - 1) ? entity.row : entity.row + 1
      const rowLowerLimit = (entity.row === 0) ? 0 : entity.row - 1
      const columnUpperLimit = (entity.column >= this.board[0].length - 1) ? entity.column : entity.column + 1
      const columnLowerLimit = (entity.column === 0) ? 0 : entity.column - 1

      let neighbors = []

      if (rowUpperLimit !== entity.row && this.board[rowUpperLimit][entity.column]) {
        neighbors.push([rowUpperLimit, entity.column])
      }
      if (rowLowerLimit !== entity.row && this.board[rowLowerLimit][entity.column]) {
        neighbors.push([rowLowerLimit, entity.column])
      }
      if (columnUpperLimit !== entity.column && this.board[entity.column][columnUpperLimit]) {
        neighbors.push([entity.row, columnUpperLimit])
      }
      if (columnLowerLimit !== entity.column && this.board[entity.column][columnLowerLimit]) {
        neighbors.push([entity.row, columnLowerLimit])
      }
      return neighbors
    },

    getLowerElementFromPublicList () {
      return this.publicList.sort((a, b) => {
        return b.acumulatedCost - a.acumulatedCost
      })
    },

    shuffle (array) {
      let currentIndex = array.length
      let temporaryValue, randomIndex
      // While there remain elements to shuffle...
      while (currentIndex !== 0) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex)
        currentIndex -= 1

        // And swap it with the current element.
        temporaryValue = array[currentIndex]
        array[currentIndex] = array[randomIndex]
        array[randomIndex] = temporaryValue
      }
      return array
    },

    choiceDangerOrVisitedNeighbor (dangerousNeighbors, neighbors) {
      if (dangerousNeighbors.length > 0) {
        dangerousNeighbors = this.shuffle(dangerousNeighbors)

        return dangerousNeighbors[0]
      } else {
        return neighbors[0]
      }
    },

    choiceOneNeighborToAdvance (neighbors) {
      let dangerousNeighbors = []
      neighbors = neighbors.map(indexes => {
        const entity = this.board[indexes[0]][indexes[1]]

        if (this.privateList.includes(entity) && entity.acumulatedCost > 0) {
          dangerousNeighbors.push(entity)
        }
        return entity
      })

      if (dangerousNeighbors.length > 0) {
        neighbors.sort((a, b) => a.acumulatedCost - b.acumulatedCost)
      } else {
        neighbors = this.shuffle(neighbors)
      }
      return neighbors[0]
    },

    getBackOneStep () {
      this.lastSelected = this.lastSelected.parent
      this.activeRow = this.lastSelected.row
      this.activeColumn = this.lastSelected.column
    },

    advanceToNewNeighbor (neighbor) {
      const parent = this.board[this.activeRow][this.activeColumn]
      // Move the Agent
      this.activeRow = neighbor.row
      this.activeColumn = neighbor.column

      // Set the agent to visited and add to private list
      neighbor.hasVisited = true
      this.privateList.push(neighbor)

      if (neighbor.acumulatedCost === 0) {
        neighbor.parent = parent
      }

      // Establish the cost from the agent when
      // the actual position is dangerous or is not
      if (neighbor['isStench']) {
        neighbor.acumulatedCost += 100
      } else if (neighbor['isAir']) {
        neighbor.acumulatedCost += 100
      } else {
        neighbor.acumulatedCost += 50
      }

      this.lastSelected = neighbor
      this.$forceUpdate()
    },

    agentLoses () {
      this.finished = true
      this.finalMessage = 'Haz perdido el juego señor T_T'
    },

    agentWins () {
      let self = this
      this.finished = true
      this.finalMessage = 'Haz ganado el juego señor!!!'

      setInterval(function () {
        if (self.lastSelected.column === self.originCords.column && self.lastSelected.row === self.originCords.row) {
          clearInterval(this)
        } else {
          self.activeColumn = self.lastSelected.parent.column
          self.activeRow = self.lastSelected.parent.row
          self.lastSelected = self.lastSelected.parent
          self.$forceUpdate()
          console.log('Route to the start', self.lastSelected)
        }
      }, 1000)
    },
    nextStep () {
      let neighbors = []
      if (Object.keys(this.privateList).length === 0) {
        this.privateList.push(this.board[this.originCords.row][this.originCords.column])
        neighbors = this.getNeighbors(this.board[this.originCords.row][this.originCords.column])
      } else {
        neighbors = this.getNeighbors(this.lastSelected)
      }
      if (this.lastSelected) {
        if ((this.lastSelected.isStench || this.lastSelected.isAir) && !this.dangerousList.includes(this.lastSelected)) {
          this.dangerousList.push(this.lastSelected)
          this.getBackOneStep()
        } else {
          const neighborToAdvance = this.choiceOneNeighborToAdvance(neighbors)
          this.advanceToNewNeighbor(neighborToAdvance)
        }
        if (this.lastSelected.isDest) {
          this.agentWins()
        }
        if (this.lastSelected.isMonster || this.lastSelected.isHole) {
          this.agentLoses()
        }
      } else {
        const neighborToAdvance = this.choiceOneNeighborToAdvance(neighbors)
        this.advanceToNewNeighbor(neighborToAdvance)
      }
      if (!this.finished) {
        setTimeout(() => {
          this.nextStep()
        }, 1000)
      }
    },

    setBetterRoute (entity) {
      entity.bestRoute = true
      window.setTimeout(() => {
        if (entity.parent) {
          this.setBetterRoute(entity.parent)
          this.$forceUpdate()
        }
      }, 300)
    }
  },

  computed: {
    matrixSize () {
      return new Array(this.size)
    }
  },

  watch: {
    size (newSize) {
      this.setBoard(newSize)
    },
    probabilityOfHoles () {
      this.setBoard(this.size)
    }
  },

  mounted () {
    this.setBoard(this.size)
  }

}
</script>

<style>

  .grid {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 1px;
  }
  .row {
    margin: 0;
  }
  .cell {
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 1px;
    vertical-align: middle;
    font-size: 2em;
  }
  .cell:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .fa-arrow-right.static {
    right: 0px;
    position: absolute;
    top: 2.2em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
  }
  .fa-arrow-left.static {
    left: 0px;
    position: absolute;
    top: 2.2em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
  }
  .fa-arrow-down.static {
    top: 4.2em;
    position: absolute;
    left: 2.2em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
  }

  .fa-arrow-down.rotate-45 {
    top: 4.2em;
    position: absolute;
    left: 0em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
  }

  .fa-arrow-down.rotate-270 {
    top: 4.2em;
    position: absolute;
    right: 0em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
  }

  .fa-arrow-up.rotate-45-neg {
    top: 0em;
    position: absolute;
    left: 0em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
  }

  .fa-arrow-up.rotate-45 {
    top: 0em;
    position: absolute;
    right: 0em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
  }

  .fa-arrow-up.static {
    bottom: -1.2em;
    position: absolute;
    left: 2.2em;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    color: black;
  }

  div.parent-to-left {

    width: 100%;
  }
  div.parent-to-left > i{
    position: absolute;
    left: 0px;
  }

  div.left-badge {
    left: 0px;
    top: 5px;
    background-color: #cbcbcb;
    font-size: 15px;
    border-radius: 0px;
    width: 100%;
    height: 20px;
    color: white;
  }

  div.left-badge > span {
    color: #fff;
    line-height: 10px !important;
    font-size: 15px;
    top: 0px;
  }

  .is-air {
    background-color: #eee;
    background-image:url('https://cdn4.iconfinder.com/data/icons/heavy-weather/100/Weather_Icons_01_wind-512.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-stench {
    background-color: #c1b6ae;
    background-image:url('https://cdn0.iconfinder.com/data/icons/care-outlined-1/218/shit-baby-misery-clean-smell-512.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-obstacle:hover {
    background-color: #ff5050;
  }

  .is-hole {
    background-color: #eee;
    background-image:url('https://static.thenounproject.com/png/12582-200.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-monster {
    background-color: #c1b6ae;
    background-image:url('https://cdn4.iconfinder.com/data/icons/monsters-command/154/fat-crazy-human-hero-monster-512.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-dest {
    border: 2px solid #cc9900;
    background-color: #ffff66;
    background-image:url('https://cdn0.iconfinder.com/data/icons/ie_Bright/512/gold.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-origin {
    border: 2px solid #0062ff;
    background-color: #c1d9ff;
  }
  .is-active {
    border: 2px solid #0062ff;
    background-color: #c1d9ff;
    background-image:url('http://pngimage.net/wp-content/uploads/2018/05/agent-icon-png-2.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
  }

  .is-watched {
    border-color: #009933;
    border-width: 2px;
  }

  .is-danger {
    border-color: #FF0000;
    border-width: 2px;
  }

  .has-visited {
    background-color: rgba(51, 51, 153, .3);
  }
  .last-visited {
    border-color: #0000cc;
  }
  .best-route {
    background-color: #0000ff;
    border-color: #0000ff;
    color: #fff;
  }
</style>
