<template>
  <div class="modal" tabindex="-1" role="dialog" id="optionModal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selecciona una opción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button class="btn btn-primary"
                  @click="setProperty('isOrigin')"
          >
            Origen
          </button>
          <button class="btn btn-success"
                  @click="setProperty('isDest')"
          >
            Destino
          </button>
          <button class="btn btn-danger"
                  @click="setProperty('isObstacle')"
          >
            Obstaculo
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import '../../node_modules/bootstrap/dist/js/bootstrap'

export default {
  props: {
    triggerModal: {
      required: true,
      type: Number
    }
  },

  methods: {
    setProperty (prop) {
      const payload = {
        prop: prop,
        status: true
      }

      this.$emit('onOptionSelectedForCell', payload)
      $('#optionModal').modal('hide')
    }
  },

  watch: {
    triggerModal (newVal) {
      if (newVal > 0) {
        $('#optionModal').modal('show')
      }
    }
  }
}
</script>

<style scoped>

</style>
