<template>
  <div id="app">
    <!--<img src="https://grupogaratu.com/wp-content/uploads/sites/4/2016/09/inteligencia-artificial-que-es.png" class="main-image">-->
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>

  @import '../node_modules/bootstrap/dist/css/bootstrap.css';

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .main-image {
    max-width: 15em;
  }
</style>
